.profileimage {
    display: block;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #1e3a8a;
}

.card {
    width: 100%;
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    border: 3px solid #e5e7eb;
    margin-bottom: 30px;
}

.sectiont {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.card p {
    margin-bottom: 10px;
    font-size: 16px;
}

.skillscontainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.skillb {
    background-color: #3b82f6;
    color: #f2f1f1;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.skillb:hover {
    transform: scale(1.15);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

.studentrole {
    color: #3b82f6;
    font-weight: 600;
}

.card ul {
    margin: 0;
    padding-left: 20px;
}

.card li {
    margin-bottom: 12px;
    font-size: 16px;
}

.contactsection {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-top: 40px;
}

.contactsection a {
    color: #1e3a8a;
    text-decoration: none;
    margin: 0 5px;
}

.contactsection a:hover {
    text-decoration: underline;
    color: #173271;
    font-weight: 600;
}
